{
    "governedRegions": ["us-west-2","us-west-1","af-south-1","eu-west-1"],
    "organizationStructure": {
        "security": {
            "name": "Security"
        }
        
    },
    "centralizedLogging": {
        "accountId": "${logging_account_id}",
        "configurations": {
            "loggingBucket": {
                "retentionDays": 60
            },
            "accessLoggingBucket": {
                "retentionDays": 60
            }
        },
        "enabled": true
    },
    "securityRoles": {
        "accountId": "${security_account_id}"
    },
    "accessManagement": {
        "enabled": true
    }
}